$black-border: 1px solid black;
$radius: 10px;
$box-height: 95vh;
$left-width: 15vw;

@media screen and (max-width: 500px) {
  .article-list-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    #TopLeft {
      box-sizing: border-box;
      padding: 3vw;
      height: 10vh;
      width: 100vw;
      #ImageButtonAdd {
        width: 10vw;
        height: 10vw;
      }
    }
    #left {
      height: 92vh;
      overflow: auto;
      width: 100vw;
      display: flex;
      #List-ul {
        width: 50vw;
      }
      #List-ul-2 {
        width: 50vw;
      }

      .ul-li-item {
        box-sizing: border-box;
        padding: 3px;
        margin: 0%;
        text-align: left;
        min-height: 10vh;
        border: 0.5px solid rgb(151, 129, 129);
        border-radius: 10px;
      }

      .img-add-btn {
        width: 20vw;
        position: fixed;
        bottom: 10vw;
        right: 10vw;
      }
    }
  }
}
