$black-border: 1px solid black;
$radius: 10px;
$box-height: 95vh;
$left-width: 15vw;

@media screen and (max-width: 500px) {
  .article-list-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    #TopLeft {
      box-sizing: border-box;
      padding: 3vw;
      height: 10vh;
      width: 100vw;
      #ImageButtonAdd {
        width: 10vw;
        height: 10vw;
      }
    }
    #left {
      height: 92vh;
      overflow: auto;
      width: 100vw;
      display: flex;
      #List-ul {
        padding: 0px;
        width: 50vw;
      }
      #List-ul-2 {
        width: 50vw;
      }

      .ul-li-item {
        box-sizing: border-box;
        padding: 15px;
        margin: 0%;
        text-align: left;
        min-height: 10vh;
        border: 0.5px solid rgb(151, 129, 129);
        border-radius: 0px;
        position: relative;
        .p3-div {
          width: 100%;
          display: flex;
          justify-content: space-between;
          position: absolute;
          bottom: 0px;
        }
      }

      .img-add-btn {
        width: 20vw;
        position: fixed;
        bottom: 10vw;
        right: 10vw;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        border-radius: 50%;
        img {
          width: 20vw;
          transition: transform 1s ease; /* ← 1.5秒完成，比默认慢很多 */
        }
        /* 点击按住时缩小到 0.9 倍 */
        img:active {
          transform: scale(2.9);
        }
      }
    }
  }
}
