$black-border: 1px solid black;
$radius: 10px;
$box-height: 905px;
$left-width: 300px;

@mixin shadow-main {
  box-shadow: 1px 1px 10px 1px rgba($color: #000000, $alpha: 0.2);
}

.buttonchecked {
  @include shadow-main;
}

@media screen and (max-width: 500px) {
  #folder {
    height: 8vh;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .create-folder {
      font-size: x-large;
      width: 10vw;
      height: 10vw;
    }
    button {
      padding: 0%;
      flex-shrink: 0;
      margin: 1px;
      width: 15vw;
      height: 7vh;
      font-size: x-small;
    }
  }
}
