$black-border: 1px solid black;
$radius: 10px;

$box-height: 99vh;

@media screen and (min-width: 500px) {
  .right-container {
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: row;
    .article-content-box {
      min-width: 400px;
      height: $box-height;
      margin-left: 14px;
      flex-grow: 4;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      #TopRight {
        width: 1290px;
        padding: 5px;
        height: 4vh;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .space {
          flex: 1 1 auto; //可放大 可缩小
        }

        span,
        a {
          margin: 5px;
          font-size: small;
          color: #fafbfc;
        }
        a:hover {
          margin: 5px;
          font-size: small;
          color: orange;
          transform: translate(0px, -3px);
        }

        .btn {
          padding: 7px;
          color: #ddd;
          background-color: rgba(0, 0, 0, 0);
          border: 0;
          border-radius: 3px;
          transition: all 0.3s ease;
          &:hover {
            margin-top: -5px;
            border: 1px solid #ddd;
          }
        }
        .word-count {
          margin-left: 20px;
        }
        .upload-demo {
          display: flex;
          min-width: 300px;
          min-height: 50px;
          button {
            margin-top: 2px;
          }
        }
      }

      #input-title {
        height: 5vh;
        width: 100%;
        padding-left: 8px;
        font-weight: 400;
        font-size: 24px;
        border: 0px solid red;
        outline: none;
        background-color: rgba(0, 0, 0, 0.1);
        color: #ddd;
      }
      #vditor-box {
        width: 1300px;
        height: 90vh;
        background-color: rgba(0, 0, 0, 0);
      }
      .vditor {
        height: 70vh;
        overflow-y: auto;
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
}
