$black-border: 1px solid black;
$radius: 10px;

$box-height: 99vh;

@media screen and (min-width: 500px) {
  .right-container {
    background-color: var(--all-backcolor) !important;
    border-radius: var(--radius-panel);
    box-shadow: var(--shadow-panel);
    margin-left: var(--gap-lg);
    flex: 1;
    display: flex;
    flex-direction: row;
    .article-content-box {
      min-width: 400px;
      height: $box-height;
      margin-left: var(--gap-md);
      flex-grow: 4;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      #TopRight {
        width: 100%;
        padding: 5px;
        height: 4vh;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .space {
          flex: 1 1 auto; //可放大 可缩小
        }

        span,
        a {
          margin: 5px;
          font-size: small;
          color: var(--word-color);
        }
        a:hover {
          margin: 5px;
          font-size: small;
          color: var(--color-accent);
          transform: translate(0px, -3px);
        }

        .btn {
          padding: 7px;
          color: var(--word-color);

          background-color: transparent;
          border: none;
          border-radius: var(--radius-item);
          transition: all 0.3s ease;
          &:hover {
            margin-top: -5px;
            border: 1px solid var(--color-border);
          }
        }
        .word-count {
          margin-left: 20px;
        }
        .upload-demo {
          display: flex;
          min-width: 300px;
          min-height: 50px;
          button {
            margin-top: 2px;
          }
        }
      }

      #input-title {
        height: 5vh;
        width: 100%;
        padding-left: 8px;
        font-weight: 400;
        font-size: 24px;
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0.03);
        color: var(--word-color);
      }
      #vditor-box {
        width: 100%;
        height: 90vh;
        background-color: var(--all-backcolor);
        display: flex;
        flex-direction: column;
      }
      .vditor {
        height: 100%;
        flex: 1;
        overflow-y: auto;
        background-color: var(--all-backcolor);
      }
    }
  }
}
