$black-border: 1px solid black;
$radius: 10px;
$box-height: 95vh;

@media screen and (min-width: 500px) {
  .article-content-box {
    min-width: 400px;
    height: $box-height;
    margin-left: 20px;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #TopRight {
      padding: 10px;
      background-color: #fff;
      height: 5vh;
      border-radius: $radius;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;

      .space {
        flex: 1 1 auto; //可放大 可缩小
      }

      .setting {
      }

      span,
      a {
        margin: 5px;
        font-size: small;
        color: black;
      }
      a:hover {
        margin: 5px;
        font-size: small;
        color: orange;
        transform: translate(0px, -3px);
      }
      .word-count {
        margin-left: 20px;
      }
    }

    #input-title {
      height: 5vh;
      margin-left: 8px;
      width: 80%;

      font-weight: 400;
      font-size: 24px;
      border: 0px solid red;
      border-radius: 5px;
      outline: none;
    }
    .vditor {
      overflow-y: auto;
    }
  }
}
