$black-border: 1px solid black;
$radius: 10px;
$box-height: 95vh;
$left-width: 16vw;
$article-list-size: 15px;

@media screen and (min-width: 500px) {
  // 隐藏电脑端中的返回按钮，这是pc端和移动端唯一不同
  .return-icon {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0px;
    z-index: -3;
  }

  .article-list-box {
    margin-left: 20px;
    width: auto;
    height: $box-height;
    border: $black-border;
    color: #111111;
    border: 0px;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    #TopLeft {
      .topleft-top {
        box-sizing: border-box;
        padding: 1vh;
        width: $left-width;
        height: 3.5vh;
        .article-count {
          position: relative;
          font-size: medium;
          color: #909090;
          margin: 0px 10px;
        }
      }
      .search-box {
        box-sizing: border-box;
        margin: 16px;
        width: 88%;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search-icon {
        }
      }

      .topleft-middle {
        display: flex;
        height: 4vh;
        .movebtn-and-delbtn {
          height: inherit;
          padding: 0;
          width: 80%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          .del-btn {
            margin-left: 2vh;
            height: 25px;
            padding: 10px;
            color: white;
            background-color: cornflowerblue;
            border: 0ch;
            border-radius: 5px;
            font-size: 1%;
            &:hover {
              background-color: crimson;
              transform: scale(1.2);
            }
          }

          .move-btn {
            height: 25px;
            padding: 10px;
            color: white;
            background-color: cornflowerblue;
            font-size: 0.1vw;
            border: 0ch;
            border-radius: 5px;
            line-height: 18px;
            &:hover {
              background-color: orange;
              transform: scale(1.2);
            }
          }
        }
        #ImageButtonAdd {
          height: 100%;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      .topleft-bottom {
        height: 3vh;
        span {
          line-height: 3vh;
          text-align: center;
          display: flex;
          align-items: center;
          font-size: small;
        }
        .checkbox-all {
          margin-right: 0.5vh;
          min-height: 20px;
          margin-left: 20px;
        }
      }
    }

    #left {
      padding-top: 10px;
      margin-top: 10px;
      height: 85vh;
      min-width: $left-width;
      min-width: 300px;

      overflow: auto;
      background-color: white;
      border-radius: $radius;

      .el-articlelist-card {
        .ul-li-item {
          display: flex;
          align-items: flex-start;
          .checkbox {
            margin-top: 4px;
            width: 24px;
          }
          .ul-list-texts {
            .p_1 {
              min-height: 20px;
              font-size: $article-list-size;
              b {
                color: orange;
              }
            }

            .p_2 {
              min-height: 23px;
              line-height: 20px;
              font-size: $article-list-size;
              b {
                color: orange;
              }
            }

            .p_3 {
              width: 100%;
              line-height: 25px;
              font-size: $article-list-size;
              color: gray;
              display: flex;
              justify-content: space-around;
              align-items: center;
            }
          }
        }
        padding: 0%;
      }
    }

    .checkbox {
      z-index: 2;
    }

    li:hover {
      background-color: #dddddd;
    }
  }
  .article-list-buttonchecked {
    transform: translate(0px, -5px);
    box-shadow: 0 1px 9px 3px #ccc;
  }
}
