$black-border: 1px solid black;
$radius: 0px;
$box-height: 905px;
$left-width: 300px;
$checked-color: rgb(85, 144, 226);

@media screen and (min-width: 500px) {
  #folder {
    flex-shrink: 0;
    width: 10vw;
    min-width: 160px;
    height: 95vh;
    background-color: white;
    border-radius: $radius;
    padding: 20px 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    overflow-x: visible;

    .addFolderBtn:hover {
      background-color: #a0cfff;
    }
    .folders-box {
      width: inherit;
      list-style: none;
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      .my-folder {
        font-weight: 600;
        width: 96%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          font-size: medium;
        }
      }
      .folder-item {
        border-radius: 0%;
        margin-left: 10px;
      }
      li {
        margin-top: 3px;
        clip-path: polygon(0 1%, 100% 0%, 96% 100%, 0% 100%);

        cursor: pointer;
        font-size: medium;
        border-radius: $radius;
        padding: 0px 6px;
        border: 0px;
        line-height: 36px;
        height: 36px;
        width: 94%;
        display: flex;
        justify-content: space-between;
        &:hover {
          color: #fff;
          background-color: $checked-color;
        }
        button {
          background: 0%;
          border: 0px;
        }
        .dropdown {
          .el-icon--right {
            border-radius: 50%;
            float: right;
            width: 36px;
            height: 36px;
            line-height: 30px;
            display: flex;
            justify-content: center;
          }
          .el-icon--right:hover {
            background-color: #a0cfff;
          }
        }
      }
    }
  }

  @keyframes toRight {
    from {
      margin-left: 0px;
    }

    75% {
      margin-left: 35px;
    }
    to {
      margin-left: 26px;
    }
  }

  .folers-button-checked {
    color: #fff;
    background-color: $checked-color;
    animation-name: toRight;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    z-index: 10;
  }
}
