$black-border: 1px solid black;
$radius: 10px;
$box-height: 905px;
$left-width: 300px;

@media screen and (min-width: 500px) {
  #folder {
    flex-shrink: 0;
    width: 10vw;
    min-width: 160px;
    height: 90vh;
    background-color: white;
    border-radius: $radius;
    padding: 20px 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    .addFolderBtn:hover {
      background-color: #a0cfff;
    }
    ul {
      width: inherit;
      list-style: none;
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      .my-folder {
        font-weight: 600;
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          font-size: small;
        }
      }
      .folder-item {
        margin-left: 10px;
      }
      li {
        cursor: pointer;
        font-size: small;
        border-radius: 8px;
        padding: 0px 6px;
        border: 0px;
        line-height: 36px;
        height: 36px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        button {
          background: 0%;
          border: 0px;
        }
        .dropdown {
          .el-icon--right {
            border-radius: 50%;
            float: right;
            width: 36px;
            height: 36px;
            line-height: 30px;
            display: flex;
            justify-content: center;
          }
          .el-icon--right:hover {
            background-color: #a0cfff;
          }
        }
      }
    }
  }

  .buttonchecked {
    background-color: rgba(124, 190, 255, 0.3);
  }
}
