body {
    margin: 0px;
    padding: 0px;
    background-color: #dddddd
}

#box {
    margin: auto;
    width: 872px;
    height: 739px;
    border: 1px solid black;
    position: relative;
    top: 60px;
    color: black;
    border: 0px;
}



#TopLeft {
    width: 245px;
    height: 70px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: azure;
    border-radius: 0;
    background-color: white;
    box-shadow: 14px 14px 8px #727272;
}

#left {
    padding: 0px;
    height: 655px;
    width: 245px;
    float: left;
    position: absolute;
    left: 0px;
    top: 90px;
    overflow: auto;
    border-left: 0px;
    border-right: 0px;
    background-color: white;
    box-shadow: 14px 14px 8px #727272;
}

#right {
    width: 600px;
    height: 655px;
    border-bottom: 0px;
    float: left;
    position: absolute;
    top: 90px;
    left: 265px;
    background-color: azure;
    border-radius: 0;
    background-color: white;
    box-shadow: 14px 14px 8px #727272;
}

#TopRight {
    width: 600px;
    height: 70px;
    background-color: azure;
    position: absolute;
    top: 0px;
    left: 265px;
    border-radius: 0;
    background-color: white;
    box-shadow: 14px 14px 8px #727272;
}

#left>ul {
    padding: 0px;
}

#left p {

    line-height: 12px;
    height: 14px;
}

#left ul{
    margin-top: 0%;
}
#left li {
    list-style: none;
    border-bottom: 1px solid #909090;
    width: inherit;
    height: 90px;
    padding-top: 1px;
    padding-left: 5px;
}

li:last-child {
    border: 0px;
}

.p_1 {

    font-size: 14px;
    margin-left: 30px;
    margin-top: 5px;
}

.p_2 {
    font-size: 12px;

    margin-left: 30px;
}

.p_3 {
    font-size: 12px;

    margin-left: 30px;
    color: gray;
}

#TextBoxTitle {
    margin-left: 0px;
    margin-top: 0px;
    border: 1px solid gray;
    width: 596px;
    height: 35px;
    font-weight: 400;
    font-size: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
}

#txtContent {
    margin-left: 0px;
    margin-top: 0px;
    height: 596px;
    width: 596px;
    font-size: 20px;
    font-family: "微软雅黑";
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    border: none;
}

#btnUpd {
    position: absolute;
    left: 45px;
    color: black;
    font-size: medium;
    margin-top: 10px;
    width: 200px;
    height: 45px;
    margin-left: 310px;
    font-size: 20px;
    border-radius: 9px;
}

#btnUpd:hover {
    background: black;
    color: whitesmoke;
}

#ssssssss {
    width: 209px;
    height: 100px;
    z-index: -1;
    position: absolute;
}


#allnote {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    float: left;
    margin-left: 10px;
}

